<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./dist/imgs/png/mercury-web-icon.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/chat.css">
    <script src="./scripts/chat.js"></script>
    <title>Mercury</title>
</head>

<body>
    <div id="app">
        <div class="sidebar" style="overflow-y: scroll">
            <div class="card">
                <header class="user-header">
                    <img class="avatar" width="40" height="40" alt="user.name" src="https://picsum.photos/200/200/" />
                    <p class="name" id="communicator"></p>

                    <a class="logout" href="/"> Sair </a>
                </header>
            </div>
            <div class="list">
                <strong>
                    <hr>
                    <p style="margin-left: 7%;">Contatos</p>
                </strong>
                <ul id="contactsList">
                </ul>
            </div>
        </div>
        <div class="main" id="main">
            <div class="message" v-scroll-bottom="session.messages">
                <ul class="messages" id="messages-ul">

                </ul>
            </div>

        </div>
    </div>
</body>

</html>