<!doctype html>
<html lang="en">

<head>
    <title>Mercury</title>
    <meta charset="utf-8">
    <link rel="icon" href="./dist/imgs/png/mercury-web-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>

    <div class="container-fluid m-0 p-0 application">
        <nav class="navbar navbar-expand-lg mm-yellow ">
            <a class="navbar-brand text-light" href="#">
                <img src="./dist/imgs/png/mercury-web-icon-2.png" width="35" height="35" class="d-inline-block align-center" alt="Mercury Messenger Logo">
                <strong>Mercury Messenger</strong>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mt-2">
                        <a class="nav-link text-light" href="#">Contato</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link text-light" href="/cadastro"><strong>Cadastrar</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login"><button class="btn btn-mm-white px-4"><strong>Entrar</strong></button></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container p-0 m-0">
            <div class="container-fluid p-0 m-0 full-size">

                <div class="row flex-row mt-5">
                    <div class="col-lg-5 mm-home-notebook-icon pr-0 mr-5">
                        <img src="./dist/imgs/notebook-home-icon.png" width="450" height="450" alt="notebook">
                    </div>

                    <div class="col-lg-4 mt-5 ml-5">
                        <h3 class="text-justify">Simples. Rápido. Fácil.</h3>
                        <h3>Para quem está com pressa.</h3>
                        <p class="mt-4 text-justify">
                            Com o Mercury Messenger você se cadastra usando sua conta google, escolhe seu nome de usuário e pronto. Todas as suas mensagens são salvas no seu Google Drive, mantendo um backup seguro e fácil de recuperar. Encontre seus amigos e comece a conversar num
                            bater de asas.
                        </p>
                        <!-- <button class="btn mm-btn-google mt-3" id="login-with-google">
                    <img src="./dist/imgs/google.png" alt="google-logo" width="30" height="30" class="mr-2">
                    <strong>Entrar com Google</strong>
                </button> -->
                        <a href="/login">
                            <button class="btn mm-btn-yellow mt-3">
                      <img src="./dist/imgs/png/mercury-web-icon-2.png" alt="google-logo" width="30" height="30" class="mr-2">
                      <strong>Entrar com Mercury</strong>
                  </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <footer class="col-lg-12 mm-footer p-2 mb-0">
            <small>Trabalho prático da disiciplina de Programação Para Web</small>
            <small class="mx-2">-</small>
            <small>FACOM - Faculade de Computação</small>
            <small class="mx-2">-</small>
            <small>UFMS - Universidade Federal de Mato Grosso do Sul</small>
            <small class="mx-2">-</small>
            <small>2019.2</small>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./scripts/login-with-google.js"></script>
</body>

</html>